node_modules
npm-debug.log
.git
.gitignore
.env
.env.*
!.env.example
logs
sessions
data/datasheets/*.dat
data/datasheets/*.xml
data/captcha-images/*.jpg
data/geoip/*.mmdb
data/shop-slides-bg/*
data/tera-icons/*
public/patch
public/launcher
public/updates
share/dataitems
config/*.js
!config/*.default.js
*.bat
*.code-workspace
README.md
LICENSE
.eslintrc.json
Dockerfile
docker-compose.yml
.dockerignore
